/* form style */
#myform {
    background: #fff;
    padding: 15px 20px;
    color: black;
    width: 320px;
    margin: 0 auto;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* nested fieldset */
#myform fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    background: #fff none;
    float: left;
    width: 250px;
}

/* typography */
#myform h2 {
    font-family: "Lucida Grande", "bitstream vera sans", "trebuchet ms", sans-serif, verdana;
    background: url("/images/info.png") no-repeat scroll 0 50% transparent;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    margin: 0;
    padding: 10px 0 10px 45px;
}

#myform p {
    font-size: 11px;
}

#myform label {
    font-size: 11px;
    margin-top: 20px;
    display: block;
}

#myform label input, textarea {
    display: block;
}

/* input field */
#myform input, textarea {
    border: 1px solid #444;
    background-color: #eee;
    padding: 5px;
    color: black;
    font-size: 12px; /* CSS3 spicing */
/*text-shadow: 1px 1px 1px #000;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* button */
#myform button {
    outline: 0;
    border: 1px solid #666;
}

#myform .submit {
    border: 1px solid #666666;
    outline: 0 none;
}

#myform .submit {
    -moz-border-radius: 10.2em 10.2em 10.2em 10.2em;
    -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
    background-color: #5D689A;
    border-bottom: 0.2em solid #666666;
    border-width: 1px 1px 0.2em;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    line-height: 1;
    padding: 0.3em 0.6em;
    text-shadow: 0 0 0.1em #222222;
}

.clear {
    clear: both;
    height: 15px;
}